html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow-x:hidden
}


.montserrat-<uniquifier> {
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
}
#homebutton {
  text-decoration: none;
  color: white;
}


h3{
  color: #eab676;
}
/*navbar*/
nav {
  display: flex;
  /*justify-content: center; /*Centers item horizontally */
  align-items: center; /*Centers items vertically*/
  width: 100%;
  background-color: #0D1F29;
  height: 11vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#UnsBox a {
  color: #0D1F29;
  text-decoration: none;
}

#UnsBox a:hover {
  color: #eab676;
  text-decoration: underline;
}

.logo {
  height: 100%; /* Make the logo container take the full height of the navbar */
  display:flex;
  align-items: center;
  margin-left: 1%;   
}

.logo img {
  height: 80%;
  width: auto;
}

#name{
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.nav_links {
  display: flex; /*Makes the links align in a row*/
  list-style: none;
  /*float: right;
  margin-left: auto;*/
  margin: 0;
  padding: 0;
}

.nav_links li {
  margin-top: 10px;
  display: inline-block;
  padding: 0px 20px;
}

.nav_links a {
  color: white;
  text-decoration: none;
}

.nav_links a:hover {
  color: white;
  text-decoration: underline;
}

li a{
  color: white;
  text-decoration: none;
}

li a:hover{
  color: white;
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: #2f3238;*/
}
/*navbar*/

#kontaktbtn {
background-color: #eab676; /* Button background color */
border: none; /* Remove borders */
color: white; /* White text */
padding: 10px 30px; /* Some padding */
text-align: center; /* Center the text */
text-decoration: none; /* Remove underline */
display: inline-block; /* Make the button inline-block */
font-size: 16px; /* Increase font size */
margin: 0 10px; /* Add some margin */
cursor: pointer; /* Add a pointer cursor on hover */
border-radius: 5px; /* Rounded corners */
}



.nav-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.nav-toggle .toggle {
  width: 30px;
  height: 3px;
  background: white;
  border-radius: 5px;
  position: relative;
}

.nav-toggle .toggle::before,
.nav-toggle .toggle::after {
  content: '';
  width: 30px;
  height: 3px;
  background: white;
  border-radius: 5px;
  position: absolute;
  transition: all 0.3s;
}

.nav-toggle .toggle::before {
  transform: translateY(-10px);
}

.nav-toggle .toggle::after {
  transform: translateY(10px);
}

.drawer {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1001;
  top: 0;
  right: -250px;
  background-color: #0D1F29;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.drawer.open {
  right: 0;
}

.drawer .close-drawer {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.drawer .nav_links {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.drawer .nav_links li {
  padding: 15px 20px;
}

.drawer .nav_links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.drawer .nav_links .links:hover {
  color: #eab676;
}


/* Show the toggle button for resolutions higher than 800px */
@media (max-width: 1440px) {
  .nav-toggle {
    display: flex; /* Ensure the toggle button is visible */
  }

  .nav_links {
    display: none; /* Hide the regular navigation links */
  }

  .nav_links.open {
    display: flex; /* Show the navigation links when the toggle is active */
    flex-direction: column;
    position: absolute;
    top: 11vh; /* Position below the navbar */
    right: 0;
    background-color: #0D1F29;
    width: 100%;
    padding: 20px;
    z-index: 1000;
  }
}

/* Default: Hide the line break */
.mobile-break {
  display: none;
}

/* Show the line break on mobile resolutions */
@media (max-width: 768px) {
  .mobile-break {
    display: inline;
  }
}


/* Show regular navigation links for desktop resolutions */
@media (min-width: 1441px) {
  .nav_links {
    display: flex; /* Show the regular navigation links */
    flex-direction: row;
    margin-left: auto;
  }

  .nav-toggle {
    display: none;
  }

  .nav_links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }

  .nav_links .links:hover {
    color: #eab676;
  }

  .desktop-nav {
    display: flex !important;
  }
  
  .mobile-nav {
    display: none !important;
  }
}


/* Expandable section styles */
.hidden {
  display: none;
}

#expandableSection {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 20px;
  border-radius: 10px;
}

.mobile-break {
  display: none;
}
/* Show the line break on mobile resolutions */
@media (max-width: 768px) {
  .mobile-break {
    display: inline;
  }
}

.text-content {
    flex:2; /* Allow the text content to take up available space */
    margin-right: 30px; /* Add some space between the text and the image */
    line-height: 2.5; /* Increase the line height */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  }


#Uns {
    background-color: #0D1F29;
    padding: 20px; /* Add padding to create space around RasseBox */
    position: relative; /* Ensure RasseBox is positioned relative to Rasse */
  }
  
  #UnsBox {
    background-color: white;
    max-height: 70%;
    padding: 50px; /* Reduce padding to make the box smaller */
    margin: 40px; /* Reduce margin to make the box smaller */
    margin-top: 100px;
    border-radius: 50px;
    border: 4px solid #eab676;
    display: flex;
    flex-direction: row-reverse;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center-align text */
  }
  
  #UnsTitel {
    color: #eab676;
  }
  
  #UnsBild {
    max-width: 30%;
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any inline spacing */
    border-radius: 50px;
    object-fit: cover;
    margin-right: 20px; /* Add some space between the image and the text */
  }
  
  #UnsText {
    margin-left: 50px; /* Add some space between the text and the image */
  }

#UnsText h3 {
  margin-bottom: 5px; /* Reduce the space below the <h3> */
}

  #Zucht {
    background-color: white;
    padding: 20px; /* Add padding to create space around RasseBox */
    position: relative; /* Ensure RasseBox is positioned relative to Rasse */
  }
  
  #ZuchtBox {
    background-color: white;
    max-height: 70%;
    padding: 100px; /* Reduce padding to make the box smaller */
    margin: 100px; /* Reduce margin to make the box smaller */
    border-radius: 50px;
    border: 4px solid #eab676;
    margin: 40px;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center-align text */
  }
  
  #ZuchtTitel {
    color: #eab676;
  }
  
  #ZuchtBild {
    max-width: 30%;
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any inline spacing */
    border-radius: 50px;
    object-fit: cover;
    margin-right: 20px; /* Add some space between the image and the text */
  }
  
  #ZuchtText {
    margin-left: 50px; /* Add some space between the text and the image */
  }

/* For tablets and larger smartphones */
@media (max-width: 1024px) and (min-width: 481px) {
    #welcomeText {
      font-size: 40px;
    }
  
    #welcomeSubtext {
      font-size: 25px;
    }
  
    #vorstellenBox {
      flex-direction: column-reverse;
      padding: 50px;
      margin: 50px;
    }
  
    .text-content {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    #vorstellBild {
      max-width: 80%;
    }
  
    #UnsBox, #ZuchtBox {
      flex-direction: column-reverse;
      padding: 50px;
      margin: 50px;
    }
  
    #UnsBild, #ZuchtBild {
      max-width: 80%;
      margin-bottom: 20px;
    }

    #impressum-box img {
      width: 70px; /* oder mehr, je nachdem wie groß du willst */
      height: auto;
      margin: 5px;
    }
  }

/* For smartphones */
@media (max-width: 480px) {
    #welcomeText {
      font-size: 30px;
    }
  
    #welcomeSubtext {
      font-size: 20px;
    }
  
    #vorstellenBox {
      flex-direction: column-reverse; /* Place the image on top */
      padding: 20px;
      margin: 2px;
    }
  
    .text-content {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    #vorstellBild {
      max-width: 100%;
    }
  
    #UnsBox, #ZuchtBox {
      flex-direction: column-reverse; /* Place the image on top */
      padding: 20px;
      margin: 2px;
    }
  
    #UnsBild, #ZuchtBild {
      max-width: 100%;
      margin-bottom: 20px;
      margin-right: 0;
    }

    #UnsText {
      margin-left: 0px; /* Add some space between the text and the image */
    }
  
    #ZuchtText {
      margin-left: 0px; /* Add some space between the text and the image */
    }

    #Uns {
      margin-top: 11vh;
    }

    #impressum-box img {
      width: 70px; /* oder mehr, je nachdem wie groß du willst */
      height: auto;
      margin: 5px;
    }
    #impressum-box {
      padding: 10px; /* Reduce padding for smaller screens */
    }
  }

  #impressum-box {
    background-color: #0D1F29; /* Dunkelblau */
    color: white; /* Weißer Text */
    text-align: center; /* Zentriere den Text */
    padding: 1px; /* Innenabstand */
    padding-top: 10px;
    /*position: fixed; /* Fixiere die Box am unteren Rand */
    bottom: 0; /* Positioniere die Box am unteren Rand */
    width: 100%; /* Box soll die gesamte Breite einnehmen */
    z-index: 1000; /* Stelle sicher, dass die Box über anderen Elementen liegt */
    flex-direction: column;
    align-items: center; /* Center child elements horizontally */
    margin: 0; /* Remove any default margins */
  }
  
  #impressum-box a {
    color: #eab676; /* Linkfarbe */
    text-decoration: none; /* Entferne die Unterstreichung */
  }
  
  #impressum-box a:hover {
    text-decoration: underline; /* Unterstreiche den Link beim Hover */
  }


  #oekv {
    height: 7%;
    width: 7%;
    padding: 20px; /* Add padding to create space around RasseBox */
    position: relative; /* Ensure RasseBox is positioned relative to Rasse */
  }