html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  font-family: Tahoma;
  scroll-behavior: smooth;
}

/*navbar*/
nav {
  display: flex;
  /*justify-content: center; /*Centers item horizontally */
  align-items: center; /*Centers items vertically*/
  width: 100%;
  background-color: #0D1F29;
  height: 11vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  height: 100%; /* Make the logo container take the full height of the navbar */
  display:flex;
  align-items: center;
  margin-left: 1%;   
}

.logo img {
  height: 80%;
  width: auto;
}

#name{
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.nav_links {
  display: flex; /*Makes the links align in a row*/
  list-style: none;
  float: right;
  margin-left: auto;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

li a{
  color: white;
  text-decoration: none;
}

li a:hover{
  color: white;
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: #2f3238;*/
}
/*navbar*/

  #kontakt {
    display: flex;
    height: 100vh;
  }

  #willkommen {
    color: white;
    background-color: #002366;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 50%;
  }


  #weltext {
    padding-right: 10px;
  }

  #leftbox {
    /*display: flex;*/
    width: 50%;
    max-width: 50%;
    background-color: #002366;
  }


  #imgbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #image {
    max-width: 50%;
    max-height: 50%;
    border-radius: 50px;
  }

  .box {
    flex: 1;
  }


  #navbar-brand {
    margin-right: auto; /* Pushes the h1 to the left by pushing other items to the right */
}